<div class="col-md-10 col-md-offset-1">
  <div class="list-header button">
    <%= link_to 'New Group', new_group_path(group_id: params[:id]), :class => "btn btn-primary" %>
  </div>
</div>
<%= react_component("Search_Groups") %>
