/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.body{
  background-color: #F0F0F8;
}

.list-group-item{
  border-radius: 0;
}

.list-group-item.post{
   text-align: left;
   background: white;
   margin-bottom: 2em;
   box-shadow: 4px 4px 5px #888888;
   border-radius: 0;
}

.list-group-item.post h5{
  color: gray;
}

.list-group-item.post p{
  padding-top: 5px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #297DF7;
    color: #ffffff;
}

.btn.btn-primary {
    background: #297DF7;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #94CAFF;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.col-md-10.col-md-offset-1{
  padding-top: 15px;
}

.list-group-item.list{
  margin-bottom: 1em;
  border-radius: 0;
}

.user-name-main{
  color: #297DF7;
}

.stats{
  padding-bottom: 15px;
}
.list-header{
  display: inline-block;
}

.list-header.button{
  float: right;
}

.container{
  font-family: 'Dosis', sans-serif;
}

.navbar-default{
  background-color: white;
}

.navbar a:hover{
  background-color: white;
}

.log-in{
  padding-right: 10px;
}

.site-name{
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 24px;
  color: blue;
}

a:hover{
  background-color: #F0F0F8;
  text-decoration: none;
  color: #297DF7;
}
