// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#submit-button{
  margin-top: 15px;
}

.landing{
  background-size: cover;
  header {
    margin-top: 0;
  }
  h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 120px;
    margin: 0 auto;
    width: 75%;
    padding-top: 30px;
    color: white;
  }
  h4 {
    font-size: 28px;
    margin: 0 auto;
    width: 75%;
    padding-top: 15px;
    color: white;
  }
}

.login-form{
  padding: 20px;
  margin-top: 60px;
  background-color: rgba(255,255,255,.75);

}
