// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#submit-button{
  margin-top: 15px;
}

.landing{
  height: 500px;
  background-image: image-url('Pen-pad.jpg');
  background-size: cover;
  border: 1px solid black;
  header {
    margin-top: 0;
    height: 100%;
  }
  h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    margin: 0 auto;
    width: 75%;
    padding-top: 30px;
    color: white;
  }
}

.login-form{
  padding-top: 20px;
}
