// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#submit-button{
  margin-top: 15px;
}

.landing{
  background-image: image-url('Pen-pad.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
