// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-group-item-text.user-list{
  display: inline-block;
}

.list-group-item-text.user-list.following{
  float: right;
}

.list-group-card{
  padding-top: 10px;
}

.list-group-item{
  text-align: left;
}

.list-group-item h5{
  padding-top: 10px;
}

.list-group-item:hover {
  background-color: #dfdfdf;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid ;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}
